<div class="grid grid-cols-1 gap-5 sm:grid-cols-2 2xl:grid-cols-4">
    <div class="card bg-base-100 relative shadow">
        <div class="card-body gap-2">
            <p class="inline text-2xl/none font-semibold">9.2M</p>
            <p class="text-base-content/60 mt-1 text-sm font-medium">Prompts Generated</p>
            <div class="mt-5 flex items-center gap-2">
                <div class="badge badge-soft badge-success badge-sm gap-0.5 px-1 font-medium">
                    <span class="iconify lucide--arrow-up size-3.5"></span>
                    14.6%
                </div>
                <p class="text-base-content/60 text-sm">compared to week</p>
            </div>
        </div>
        <div
            class="to-base-200/60 absolute -end-3 -top-3 rounded-full bg-linear-to-bl from-transparent p-1.5">
            <div class="bg-base-100 flex items-center justify-center rounded-full p-2 shadow">
                <span class="iconify lucide--zap size-6"></span>
            </div>
        </div>
    </div>
    <div class="card bg-base-100 relative shadow">
        <div class="card-body gap-2">
            <p class="inline text-2xl/none font-semibold">3,124</p>
            <p class="text-base-content/60 mt-1 text-sm font-medium">New Paid Users</p>
            <div class="mt-5 flex items-center gap-2">
                <div class="badge badge-soft badge-success badge-sm gap-0.5 px-1 font-medium">
                    <span class="iconify lucide--arrow-up size-3.5"></span>
                    7.8%
                </div>
                <p class="text-base-content/60 text-sm">compared to week</p>
            </div>
        </div>
        <div
            class="to-base-200/60 absolute -end-3 -top-3 rounded-full bg-linear-to-bl from-transparent p-1.5">
            <div class="bg-base-100 flex items-center justify-center rounded-full p-2 shadow">
                <span class="iconify lucide--badge-check size-6"></span>
            </div>
        </div>
    </div>
    <div class="card bg-base-100 relative shadow">
        <div class="card-body gap-2">
            <p class="inline text-2xl/none font-semibold">174.6K</p>
            <p class="text-base-content/60 mt-1 text-sm font-medium">API Requests</p>
            <div class="mt-5 flex items-center gap-2">
                <div class="badge badge-soft badge-success badge-sm gap-0.5 px-1 font-medium">
                    <span class="iconify lucide--arrow-up size-3.5"></span>
                    11.2%
                </div>
                <p class="text-base-content/60 text-sm">compared to week</p>
            </div>
        </div>
        <div
            class="to-base-200/60 absolute -end-3 -top-3 rounded-full bg-linear-to-bl from-transparent p-1.5">
            <div class="bg-base-100 flex items-center justify-center rounded-full p-2 shadow">
                <span class="iconify lucide--terminal-square size-6"></span>
            </div>
        </div>
    </div>
    <div class="card bg-base-100 relative shadow">
        <div class="card-body gap-2">
            <p class="inline text-2xl/none font-semibold">87 ms</p>
            <p class="text-base-content/60 mt-1 text-sm font-medium">Avg. Response Time</p>
            <div class="mt-5 flex items-center gap-2">
                <div class="badge badge-soft badge-error badge-sm gap-0.5 px-1 font-medium">
                    <span class="iconify lucide--arrow-down size-3.5"></span>
                    -4.1%
                </div>
                <p class="text-base-content/60 text-sm">compared to week</p>
            </div>
        </div>
        <div
            class="to-base-200/60 absolute -end-3 -top-3 rounded-full bg-linear-to-bl from-transparent p-1.5">
            <div class="bg-base-100 flex items-center justify-center rounded-full p-2 shadow">
                <span class="iconify lucide--gauge-circle size-6"></span>
            </div>
        </div>
    </div>
</div>
