<div class="flex items-center justify-center gap-3">
    <label class="input max-w-56 px-2">
        <button
            class="btn btn-soft btn-circle btn-xs"
            data-spinner-control="inline-spinner-demo"
            data-steps="-1"
            aria-label="Decrement">
            <span class="iconify lucide--minus size-3.5"></span>
        </button>
        <input
            aria-label="Input Spinner"
            class="no-spinner m-0 grow text-center"
            id="inline-spinner-demo"
            value="1"
            placeholder="Quantity"
            type="number" />
        <button
            class="btn btn-soft btn-circle btn-xs"
            aria-label="Increment"
            data-spinner-control="inline-spinner-demo">
            <span class="iconify lucide--plus size-3.5"></span>
        </button>
    </label>
</div>
<script>
    window.addEventListener("DOMContentLoaded", () => {
        new InputSpinner("#inline-spinner-demo")
    })
</script>
