<div class="flex items-center justify-center gap-3">
    <button
        class="btn btn-square"
        data-spinner-control="readonly-spinner-demo"
        data-steps="-1"
        aria-label="Decrement">
        <span class="iconify lucide--minus size-4"></span>
    </button>
    <input
        aria-label="Input Spinner"
        id="readonly-spinner-demo"
        value="50"
        type="number"
        readonly
        class="input no-spinner input-bordered w-40" />
    <button
        class="btn btn-square"
        data-spinner-control="readonly-spinner-demo"
        aria-label="Increment">
        <span class="iconify lucide--plus size-4"></span>
    </button>
</div>
<script>
    window.addEventListener("DOMContentLoaded", () => {
        new InputSpinner("#readonly-spinner-demo")
    })
</script>
