<select id="simple-select-demo" aria-label="Select">
    <option value="">Select an option</option>
    <option value="apple">Apple</option>
    <option value="banana">Banana</option>
    <option disabled value="orange">Orange</option>
    <option value="carrot">Carrot</option>
    <option value="broccoli">Broccoli</option>
    <option value="spinach">Spinach</option>
</select>
<script>
    window.addEventListener("DOMContentLoaded", function () {
        new Choices("#simple-select-demo")
    })
</script>
